body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #272727;
}

@font-face {
  font-family: hydro;
  src: url(/Hydrophilia\ Iced.ttf);
}

h1, h2, h3, h4, h5 ,h6, p {
    color: #ffffff;
    font-weight: 700;
}

h1 {
  font-family: hydro;
}

.swepool {
  color: #ffffff;
  text-decoration: underline;
}

.swepool:hover {
  color: #7098cf;
  text-decoration: underline;
}

h1 {
    font-size: 48px;
}

.emoji {
 color: white!important;
}


.container {
  max-width: 480px;
}

.nodetext {
  color: #ffffff7c!important;
}


button {
    background: #ffffff00!important;
    border: 2px solid #fff!important; 
    border-radius: 21px;
    height: 40px;
    width: 150px;
    color: #ffffff;
    margin-top: 20px;
    font-family: hydro;
}

button:hover {
    background: rgb(134, 134, 134)!important;
    border: none;
    border-radius: 21px;
    height: 40px;
    width: 150px;
    color: rgb(255, 255, 255);
}

code {
  color: #5cff5c;
}

#bootstraped {
  color: #ffffff;
}

.container {
    width: auto;
}

@keyframes rgb {
    0%, 100% {
      background: #5f86f2;
    }
    12.5% {
      background: #a65ff2;
    }
    25% {
      background: #f25fd0;
    }
    37.5% {
      background: #f25f61;
    }
    50% {
      background: #f2cb5f;
    }
    62.5% {
      background: #abf25f;
    }
    75% {
      background: #5ff281;
    }
    87.5% {
      background: #5ff2f0;
    }
  }
  
.rgb {

    background: #5f86f2;
    -webkit-animation: rgb 10s ease infinite;
    -moz-animation: rgb 10s ease infinite;
    animation: rgb 10s ease infinite;
} 

@keyframes rgbText {
  0%, 100% {
    color: #5f86f2;
  }
  12.5% {
    color: #a65ff2;
  }
  25% {
    color: #f25fd0;
  }
  37.5% {
    color: #f25f61;
  }
  50% {
    color: #f2cb5f;
  }
  62.5% {
    color: #abf25f;
  }
  75% {
    color: #5ff281;
  }
  87.5% {
    color: #5ff2f0;
  }
}

.rgbText {

  color: #5f86f2;
  -webkit-animation: rgbText 10s ease infinite;
  -moz-animation: rgbText 10s ease infinite;
  animation: rgbText 10s ease infinite;
} 

.status {
  color: #fff;
}

.bi {
 color: rgba(255, 255, 255, 0.514);
}