body {
    background-image: url('/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #272727;
}

h1, h2, h3, h4, h5 ,h6, p {
    color: #ffffff!important;
    font-weight: 700;
}

.swepool {
  color: #ffffff;
}

h1 {
    font-size: 48px;
}


.container {
  max-width: 480px;
}

.nodetext {
  color: #ffffff7c!important;
}


button {
    background: #00000000;
    border: 2px solid #ffffff;
    border-radius: 21px;
    height: 40px;
    width: 150px;
    color: #fff;
    margin-top: 20px;
}

button:hover {
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 21px;
    height: 40px;
    width: 150px;
    color: rgb(71, 71, 71);
}

code {
    color: #ececec
}

.container {
    width: auto;
}

@keyframes rgb {
    0%, 100% {
      background: #5f86f2;
    }
    12.5% {
      background: #a65ff2;
    }
    25% {
      background: #f25fd0;
    }
    37.5% {
      background: #f25f61;
    }
    50% {
      background: #f2cb5f;
    }
    62.5% {
      background: #abf25f;
    }
    75% {
      background: #5ff281;
    }
    87.5% {
      background: 5ff2f0;
    }
  }
  
.rgb {

    background: #5f86f2;
    -webkit-animation: rgb 10s ease infinite;
    -moz-animation: rgb 10s ease infinite;
    animation: rgb 10s ease infinite;
} 
